.post-container {
  display: flex;
  justify-content: space-between;
}

.js-toc-content {
  width: 70%; /* 文章宽度 */
}

.sidebar {
  width: 25%;
  position: sticky;
  top: 20px; /* 距离顶部距离 */
  height: fit-content;
}

/* 针对小屏幕隐藏 */
@media (max-width: 768px) {
  .sidebar { display: none; }
  .js-toc-content { width: 100%; }
}